<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">


</head>
<body>


	<div class="container-fluid" style="height: 100vh">

		<div class="row">

			<div class="col-lg-2 col-md-2 col-sm-2 bg-dark"></div>
			<div class="col-lg-10 col-md-10 col-sm-10 bg-success">

				<form class="form-inline" action="#" th:action="@{/home}"
					method="post" th:object="${user}">
					<label for="email">Name:</label> <input type="text"
						class="form-control" placeholder="Enter name" id="name"
						th:field="*{name}"> <label for="pwd">Age:</label> <input
						type="text" class="form-control" placeholder="Enter age" id="age"
						th:field="*{age}">
						
						
							<label for="email">Name:</label> <input type="text"
						class="form-control" placeholder="Enter name" id="name"
						th:field="*{name}"> <label for="pwd">Age:</label> <input
						type="text" class="form-control" placeholder="Enter age" id="age"
						th:field="*{age}">

					<button type="submit" class="btn btn-primary" >Submit</button>
				</form>


				<table class="table table-hover mt-4" id="try">
					<thead>
						<tr>
							<th>Name</th>
							<th>Age</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="u: ${userList}">
							<td th:text="${u.name}"></td>
							<td th:text="${u.age}"></td>
							
							
						</tr>
						
					</tbody>
				</table>
			</div>

		</div>


	</div>



	</div>







	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		
			<script th:inline="javascript">
			
			
	
// 	document.getElementById("try").style.display = "none";
	
	
	
	/*<![CDATA[*/

    var message = /*[[${message}]]*/ 'default';
//     console.log(message);

/*]]>*/
	
// 		console.log("ok");
		
		function myFunc(){
// 			console.log(message);
			document.getElementById("try").style.display = "block";		
// 			alert(message);
		}
	</script>

</body>
</html>